* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 335px;
  font-family: 'Roboto', sans-serif;
}

/* div1 */
#div1 {
  width: 100%;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: #353535;
}

#div1 p {
  margin: 0;
  padding: 0px 30px;
  vertical-align: middle;
  line-height: 60px;
}

/* div2 */
#div2 {
  width: 100%;
  height: 350px;
  background-image: url('../images/main_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* div3 */
#div3 {
  width: 100%;
  height: 320px;
  padding: 0px 30px;
  
  line-height: 320px;
}

#div3 .Pf {
  
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#div3 h1 {
  color: #4A4A4A;
  font-size: 16px;
  margin: 0;
}

#div3 h2 {
  color: #1B1B1B;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#div3 p {
  color: #7A7A7A;
  font-size: 16px;
  margin: 0;
}

/* div4 */
#div4 {
  width: 100%;
  height: 385px;
  background-image: url('../images/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* div5 */
#div5 {
  width: 100%;
  height: 200px;
  background-image: url('../images/img2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  text-align: center;
}

#div5 a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  
  border: 4px solid white;
  padding: 9px 40px;
  
  line-height: 200px;
  vertical-align: middle;
}

/* div6 */
#div6 {
  width: 100%;
  height: 200px;
  background-image: url('../images/img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* tablet */
@media (min-width:768px) {
  #div2 {
    height: 562px;
  }
  #div3 {
    padding: 0px 65px;
    height: 282px;
    line-height: 282px;
  }

  #div4 {
    width: 50%;
    height: 360px;
    float: left;
  }
  #div5 {
    width: 50%;
    height: 180px;
    float: left;
  }
  #div6 {
    width: 50%;
    height: 180px;
    float: left;
  }
}

/* desktop */
@media (min-width:992px) { 
  #div2 {
    width: 50%;
    height: 700px;
    float: left;
  }
  #div3 {
    width: 50%;
    height: 350px;
    line-height: 350px;
    float: right;
  }
  #div4 {
    width: 25%;
    height: 350px;
    float: left;
  }
  #div5 {
    width: 25%;
    height: 175px;
    float: left;
  }
  #div6 {
    width: 25%;
    height: 175px;
    float: left;
  }
}